* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}

.logo {
  margin-top: 4rem;
  margin-bottom: 11.4rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
}

.title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.inputs label {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.inputs input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.inputs a {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #7c3aed;
  text-decoration: none;
}

.inputs button {
  padding: 16px 24px;
  background: #7c3aed;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.inputs .subscribe a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #7c3aed;
}
